<mat-toolbar style="justify-content: space-between">
  <div class="filters">
    <div class="deviceType-list">
      <span>Device type </span>
      <mat-button-toggle-group
        appearance="legacy"
        name="device types"
        aria-label="Device type"
        [hideMultipleSelectionIndicator]="true"
        multiple
        (change)="selectDeviceType($event)"
        [value]="filters.deviceType"
      >
        <mat-button-toggle
          *ngFor="let deviceType of deviceTypes"
          [value]="deviceType"
        >
          <mat-icon
            [matTooltip]="getDeviceTypeTooltip(deviceType)"
            [color]="filters.deviceType.includes(deviceType) ? 'primary' : ''"
          >
            {{ getDeviceTypeIcon(deviceType) }}
          </mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="multi-select__container">
      <mat-form-field *ngFor="let filterField of filtersMultiSelectToShow()">
        <mat-label>{{ filterField.name }}</mat-label>
        <mat-chip-grid
          #chipGrid
          aria-label="Enter device names"
          class="chip-list-filter"
        >
          <input
            [placeholder]="filterField.placeholder"
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addItem($event, filterField.value)"
          />
          @for (item of filters[filterField.value]; track item) {
          <mat-chip-row
            (removed)="removeItem(item, filterField.value)"
            [editable]="true"
            (edited)="editItem(item, $event, filterField.value)"
            [aria-description]="'press enter to edit ' + item"
          >
            {{ item }}
            <button matChipRemove [attr.aria-label]="'remove ' + item">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          }
        </mat-chip-grid>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" (click)="apply.emit()">
      Apply
    </button>
  </div>
  <div class="actions" *ngIf="showCreateButton">
    <button mat-flat-button color="primary" (click)="createDevice()">
      <span>Create device</span>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>
